<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="inspire_hand">

  <xacro:arg name="port"                    default="/dev/ttyUSB0"/>
  <xacro:arg name="baudrate"                default="115200"/>
  <xacro:arg name="read_timeout_ms"         default="30"/>
  <xacro:arg name="default_force_threshold" default="500"/>
  <xacro:arg name="allow_set_id"            default="false"/>
  <xacro:arg name="gripper_id"              default="1"/>

  <!-- Reuse the description-only gripper macro. -->
  <xacro:include filename="$(find inspire_description)/urdf/inspire_gripper.urdf.xacro"/>

  <link name="world"/>
  <xacro:gripper parent_link="world"/>

  <ros2_control name="inspire_hand_bus0" type="system">
    <hardware>
      <plugin>inspire_hand/GripperSystem</plugin>
      <param name="port">$(arg port)</param>
      <param name="baudrate">$(arg baudrate)</param>
      <param name="read_timeout_ms">$(arg read_timeout_ms)</param>
      <param name="default_force_threshold">$(arg default_force_threshold)</param>
      <param name="allow_set_id">$(arg allow_set_id)</param>
    </hardware>

    <!--
      Only gripper_joint1 is driven; gripper_joint2/3/4 are <mimic> followers.
      For multi-gripper setups, the inspire_description macro needs a prefix
      parameter to namespace links/joints; then repeat this <joint> block with
      a unique gripper_id.
    -->
    <joint name="gripper_joint1">
      <param name="gripper_id">$(arg gripper_id)</param>
      <param name="default_speed">500</param>
      <command_interface name="position"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
</robot>
