<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="inspire_hand">

  <xacro:arg name="port"                    default="/dev/ttyUSB0"/>
  <xacro:arg name="baudrate"                default="115200"/>
  <xacro:arg name="read_timeout_ms"         default="30"/>
  <xacro:arg name="default_force_threshold" default="500"/>
  <xacro:arg name="allow_set_id"            default="false"/>
  <xacro:arg name="left_gripper_id"         default="1"/>
  <xacro:arg name="right_gripper_id"        default="2"/>

  <xacro:include filename="$(find inspire_description)/urdf/inspire_gripper.urdf.xacro"/>

  <link name="world"/>

  <!-- Left gripper base, 20 cm to the left of world. -->
  <link name="left_base_link"/>
  <joint name="world_to_left" type="fixed">
    <parent link="world"/>
    <child link="left_base_link"/>
    <origin xyz="0 0.1 0" rpy="0 0 0"/>
  </joint>
  <xacro:gripper parent_link="left_base_link" prefix="left_"/>

  <!-- Right gripper base, 20 cm to the right of world. -->
  <link name="right_base_link"/>
  <joint name="world_to_right" type="fixed">
    <parent link="world"/>
    <child link="right_base_link"/>
    <origin xyz="0 -0.1 0" rpy="0 0 0"/>
  </joint>
  <xacro:gripper parent_link="right_base_link" prefix="right_"/>

  <ros2_control name="inspire_hand_bus0" type="system">
    <hardware>
      <plugin>inspire_hand/GripperSystem</plugin>
      <param name="port">$(arg port)</param>
      <param name="baudrate">$(arg baudrate)</param>
      <param name="read_timeout_ms">$(arg read_timeout_ms)</param>
      <param name="default_force_threshold">$(arg default_force_threshold)</param>
      <param name="allow_set_id">$(arg allow_set_id)</param>
    </hardware>

    <joint name="left_gripper_joint1">
      <param name="gripper_id">$(arg left_gripper_id)</param>
      <param name="default_speed">500</param>
      <command_interface name="position"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="right_gripper_joint1">
      <param name="gripper_id">$(arg right_gripper_id)</param>
      <param name="default_speed">500</param>
      <command_interface name="position"/>
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
</robot>
